{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="row justify-content-center h-100">
        <div class="col mt-5" style="max-width: 500px;">
            <div class="card shadow">
                <div class="card-header">Page de connexion</div>
                <div class="card-body">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <div class="form-floating mb-3">
                            <input type="text" value="{{ last_username }}" name="username" class="form-control" id="username" placeholder="name@example.com" required autofocus>
                            <label for="username">Nom d'utilisateur</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" name="password" class="form-control" id="password" placeholder="Mot de passe" required>
                            <label for="password">Mot de passe</label>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="d-grid">
                            <button class="btn btn-outline-primary" type="submit">
                                Se connecter
                            </button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-end">
                    <a href="{{ path('register') }}">Pas de compte ? Inscrivez-vous</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
