{% extends 'base.html.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block body %}
<div class="row justify-content-center h-100">
    <div class="col mt-5" style="max-width: 500px;">
        <div class="card shadow">
            <div class="card-header">Inscription</div>
            <div class="card-body">
    {{ form(form) }}
            </div>
            <div class="card-footer text-end">
                <a href="{{ path('app_login') }}">Déjà un compte ? Connectez-vous</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

