html, body {
    height: 100%;
}

body > .container {
    height: calc(100% - 100px);
}

.chat-content {
    margin-top: 2rem;
    height: 100%;
}

.chat-content > div:first-child {
    width: 290px;
    background-color: #f0f0f0;
}

.chat-content > div:last-child {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.chat-messages {
    flex-grow: 1;
    height: 1px;
    overflow-y: auto;
}

.chat-header {
    height: 50px;
}

.message-parent, .user-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.message-parent .message {
    max-width: 500px;
    margin: 0 0.8rem;
    padding: 0.5rem 1rem;
    border-radius: .25rem;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: .25rem;
    background: #8d8d8d;
}

.message-parent.receiver > .message {
    background-color: #e6e6e6;
}

.message-parent.sender > .message {
    background-color: #2196f3;
    color: white;
}

.message-parent.sender {
    flex-flow: row-reverse;
}

.user-item {
    background: #f8f9fa;
    padding: 0.5rem;
    color: inherit;
    text-decoration: inherit;
}

.empty-chat {
    max-width: 600px;
    margin: auto;
}