{% extends 'base.html.twig' %}

{% block body %}
<input type="hidden" id="user_uuid" value="{{ app.user.uuid }}">
<div class="row chat-content">
    <div class="users-list border-end py-2">
        {% for user in users %}
            <a class="user-item rounded" href="{{ path('chat', {'for': user.uuid}) }}">
                <div class="avatar"></div>
                <div class="ps-2">
                    {{ user.username }}
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="col">
        {% if for is empty %}
            <img class="empty-chat" src="{{ asset('empty-chat.jpg') }}" alt="">
        {% else %}
            <div class="bg-light border-bottom chat-header">
                <input type="hidden" id="message-for" value="{{ for }}">
            </div>
            <div id="chat-messages" class="bg-light chat-messages p-2">
{#                {% include 'chat/_message-box.html.twig' with {#}
{#                    isSender: false,#}
{#                    message: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, laborum.'#}
{#                } %}#}
            </div>
            <div class="bg-light chat-input px-2 pt-2">
                <div class="input-group">
                    <textarea class="form-control" id="textarea" rows="1" placeholder="Envoyer un message ici..."></textarea>
                    <button class="btn btn-primary" value="{{ for }}" type="button" id="send">Envoyer</button>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
